/* für Warenkorb Ansicht*/
.basket-wrapper{
    width: 300px;
    flex-grow: 1;
}
.basket{
    position: sticky;
    top: 0;
    width: 300px;
    height: auto;
    min-height: calc(100dvh - 10dvh - 5dvh);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 24px 10px;
}