@font-face {
    font-family: 'Manrope-VariableFont_wght';
    src: url('../assets/fonts/Manrope-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Manrope-Bold';
    src: url('../assets/fonts/Manrope-Bold.ttf');
}

@font-face {
    font-family: 'Manrope-ExtraBold';
    src: url('../assets/fonts/Manrope-ExtraBold.ttf');
}

@font-face {
    font-family: 'Manrope-Medium';
    src: url('../assets/fonts/Manrope-Medium.ttf');
}

@font-face {
    font-family: 'Manrope-Regular';
    src: url('../assets/fonts/Manrope-Regular.ttf');
}

@font-face {
    font-family: 'Manrope-Light';
    src: url('../assets/fonts/Manrope-Light.ttf');
}

@font-face {
    font-family: 'Manrope-ExtraLight';
    src: url('../assets/fonts/Manrope-ExtraLight.ttf');
}

body{
    font-size: min(16px, 18px);
    font-family: 'Manrope-Light';
    color: black;
}

h1{
    font-family: 'Manrope-Bold';
    font-size: clamp(2.4rem, 1.5dvw, 5rem);
    text-align: center;
}

h2{
    font-family: 'Manrope-Medium';
    font-size: clamp(2.2rem, 1.5dvw, 3.5rem);
}

h3{
    font-family: 'Manrope-Medium';
    font-size: clamp(1.8rem, 1.5dvw, 2rem);
}

a{
    font-family: 'Manrope-Bold';
    color: #000;
}
footer{
    font-family: 'Manrope-Bold';
    color: white;
}