/* für standard styling */
/* #region HEADER */
header{
    background: #ff8000;
    height: 10dvh;
    display: flex;
    /* position: sticky;
    top: 0;
    z-index: 30; */
    .header-wrapper{
        width: 100%;
        max-width: 1920px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 20px;
        img{
            height: 8rem;
        }
    }
}
/* #endregion */

/* #region MAIN BEREICH */
.main-wrapper{
    width: 100%;
    max-width: 1920px;
    display: flex;
}

.content{
    width: 100%;
    max-width: 1920px;
    overflow: auto;
}

.content-wrapper{
    min-width: calc(100% - 308px);
    width: 100%;
    height: auto;
    min-height: calc(100dvh - 10dvh - 5dvh);
    #content{
        #restaurant-header{
            background: url('../assets/img/takumi-banner-small.jpg');
            height: 25dvh;
            background-size: cover;
            background-position: center;
            object-fit: cover;
            display: flex;
            justify-content: center;
            align-items: end;
            img{
                height: 20rem;
                position: absolute;
                bottom: -10dvh;
                @media (max-width: 1100px) {
                    right: 10rem;
                }
                @media (max-width: 650px) {
                    
                }
            }
        }
        #restaurant-info{
            padding: 16px 8px;
            @media (max-width: 1250px) {
                padding: 60px 8px 24px 8px;
                
            }
            h1{
                text-align: left;
            }
            div{
                display: flex;
                gap: 10px;
                img{
                    height: min(2.2rem, 4.8rem);
                }
            }
        }
    }
}
#category-bar{
    background: lightgray;
    display: flex;
    align-items: center;
    height: 5dvh;
    gap: 3rem;
    padding: 0.8rem 2.4rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#menu{
    display: flex;
    flex-direction: column;
    h2{
        padding: 2.4rem 0.8rem;
    }
    .single-menu{
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        height: auto;
        min-height: 120px;
        margin: 0.8rem;
        display: flex;
        align-items: center;
        gap: 10px;
        img{
            height: 100px;
            width: 130px ;
            }
        div{
            p{
               word-break: break-word; 
            }
            #foodprice{
                font-weight: bold;
            }
        }
        #add-container{
            position: absolute;
            top:0;
            right: 0;
            button{
                img{
                    width: 3rem;
                    height: auto;
                }
            }
        }
    }
}
#cart-in-main{
    padding: 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* #endregion */

/* #region FOOTER */
footer{
    height: 5dvh;
    background-color: #ff8000;
    display: flex;
    align-items: center;
    color: white;
}
/* #endregion */