/* #region BUTTONS */
button{
    cursor: pointer;
    background: transparent;
    border: 0;
}
a{
    cursor: pointer;
}

.medium-btn{
    border: 1px solid lightgray;
}
.large-btn{
    background: #ff8000;
    border: 1px solid lightgray;
    border-radius: 8px;
    border: 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    color: white;
    font-family: 'Manrope-Bold';
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 85%;
    height: 8rem;
    font-size: clamp(2rem, 1.2dvw, 2.4rem);
    img{
        height: 70%;
    }
}
#shopping-cart-btn{
    display: none;
    @media (max-width: 1100px) {
        display: flex;
    }
}
/* #endregion */

/* #region HEADER */
header{
    background: #ff8000;
    height: 10dvh;
    position: sticky;
    top: 0;
    z-index: 30;
    .content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 20px;
        img{
            height: 8dvh;
        }
    }
}
/* #endregion */

/* #region MAIN new */
#mainpage{
    width: 100%;
    min-width: calc(100% - 300px);
    height: auto;
    min-height: 100dvh;
    #restaurant-header-logo{
        width: 100%;
        background: url('../assets/img/takumi-banner-small.jpg');
        background-size: cover;
        background-position: center;
        object-fit: cover;
        height: 25dvh;
        display: flex;
        justify-content: center;
        #restaurant-logo{
            height: 18rem;
            position: absolute;
            bottom: -9rem;
        }
    }
    #general-info{
        width: 100%;
        padding: 16px 8px;
        @media (max-width: 1250px) {
            padding: 80px 8px 24px 8px; 
        }
        h1{
            text-align: left;
        }
        div{
            display: flex;
            gap: 10px;
            img{
                height: min(2.2rem, 4.8rem);
            }
        }
    }
    #category-bar{
        width: 100%;
        background: lightgrey;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        display: flex;
        align-items: center;
        height: 6dvh;
        gap: 3rem;
        padding-left: 3rem;
        margin-top: 2.4rem;
        margin-bottom: 2.4rem;
        }
    #menu{
        width: 100%;
        .separator{
            width: 100%;
            height: 8dvh;
            object-fit: cover;
        }
        h2{
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .single-menu{
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            height: auto;
            min-height: 120px;    
            display: flex;
            align-items: center;
            margin-bottom: 0.8rem;
            gap: 10px;
            img{
                height: 100px;
                width: 130px ;
            }
            div{
                p{
                    word-break: break-word; 
                }
                #foodprice{
                    font-weight: bold;
                }
            }
            #add-container{
                position: absolute;
                top:0;
                right: 0;
                button{
                    img{
                        width: 3rem;
                        height: auto;
                    }
                }
            }
        }
    }
    #cart-in-main{
        display: flex;
        justify-content: center;
    }
}
/* #endregion */

/* #region SHOPPING CART */
.basket-wrapper{ 
    width: 300px;
    height: 85dvh;
    position: sticky;
    top: 10dvh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    flex-direction: column;
    align-items: center;
    gap: 2dvh;
    padding: 20px 10px;
    #orderlist{
        overflow: auto;
        display: flex;
        flex-direction: column;
        height: 60dvh;
        width: 100%;
        .order{
            width: 100%;
            display: flex;
            flex-direction: column;
            div{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .small-btn{
                    img{
                        width: 30px;
                    }
                }
            }
        }
    }
    #ready-to-pay{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2dvh;
        table{
            width: 100%;
            td:nth-child(1){
                text-align: left;
            }
            td:nth-child(2){
                text-align: right;
            }
        }
    }
    @media (max-width: 1100px) {
        display: none;
    }
}
.basket-wrapper-only{ 
    width: 100%;
    height: 85dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2dvh;
    padding: 20px 10px;
    #orderlist{
        overflow: auto;
        display: flex;
        flex-direction: column;
        height: 60dvh;
        width: 100%;
        .order{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            div{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .small-btn{
                    img{
                        width: 30px;
                    }
                }
            }
        }
    }
    #ready-to-pay{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2dvh;
        table{
            width: 100%;
            td:nth-child(1){
                text-align: left;
            }
            td:nth-child(2){
                text-align: right;
            }
        }
    }
}
/* #endregion */

/* #region RECEIPT */
#receipt-wrapper{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 85dvh;
    z-index: 20;
    justify-content: center;
    align-items: center;
    #receipt{
        background: white;
        border-radius: 16px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: 3rem;
        width: 300px;
        padding: 3rem;
        height: 50dvh;
        img{
            width: 100px;
        }
    }
}
/* #endregion */

/* #region FOOTER */
footer{
    height: 5dvh;
    background-color: #ff8000;
    display: flex;
    align-items: center;
    color: white;
}
/* #endregion */